html {
    font-size: 62.5%;
}

body {
    /* Layout properties */

    /* Box model properties */
    height: 100vh;

    margin: 0;
    padding: 5rem;

    /* Visual properties */
    background: white;

    /* Typography properties */
    color: black;
    font-size: 1.6rem;
    font-weight: 100;
    font-family: 'Lato', sans-serif;

    /* Misc properties, alphabetized */
}
